*{ 
    margin:0;
    padding:50px;
    box-sizing:border-box;

}


.main{
    border:50px solid green;
    text-align:center;
    padding:160px 60px;
    width:55%;
    border-radius:20px;
    background-
}
.heading{
    color:green;
    font-size:3rem;
    padding:0;
}
.desc{
    font-size:1.5rem;
    padding:0;
}


